<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="WebSiteErrorLogger" type="ErrorLoggerSection"/>
  </configSections>
  <WebSiteErrorLogger logFilePath="C:/ErrorLog/"/>
  <appSettings>
    <add key="MathConnectString" value="server=192.168.0.188;database=Math_Aie;uid=sa;pwd=meidemima"/>
    <add key="ClientConnectString" value="server=192.168.0.188;database=Aie100;uid=sa;pwd=meidemima"/>
    <add key="urlPassWord" value="http://www.aie100.com"/>
    <add key="SMTPServer" value="smtp.exmail.qq.com"/>
    <add key="From_Username" value="support@aie100.com"/>
    <add key="From_Password" value="aie100@0832"/>
    <add key="algorithmImgUrl" value="http://im.aie100.com/ImgEngine.aspx?par="/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="204800" executionTimeout="300" requestValidationMode="2.0"/>
    <sessionState mode="InProc" timeout="100"/>
    <!--提供Web服务访问方式-->
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- 最大值 2097152  -->
        <jsonSerialization maxJsonLength="10000000">
          <!--<converters>
            <add name="DataSetConverter" type="Microsoft.Web.Preview.Script.Serialization.Converters.DataSetConverter, Microsoft.Web.Preview, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            <add name="DataRowConverter" type="Microsoft.Web.Preview.Script.Serialization.Converters.DataRowConverter, Microsoft.Web.Preview, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            <add name="DataTableConverter" type="Microsoft.Web.Preview.Script.Serialization.Converters.DataTableConverter, Microsoft.Web.Preview, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
          </converters>-->
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ReportWrapperWebServiceHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true"/>
        <binding name="StudyGuideWrapperWebServiceHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true"/>
        <binding name="SubmissionWebServiceHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true"/>
        <binding name="ClientSystemWebServiceHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.188:8080/acepherics/service/ReportWrapperWebService" binding="basicHttpBinding" bindingConfiguration="ReportWrapperWebServiceHttpBinding" contract="EngineReport.ReportWrapperWebServicePortType" name="ReportWrapperWebServiceHttpPort"/>
      <endpoint address="http://192.168.0.188:8080/acepherics/service/StudyGuideWrapperWebService" binding="basicHttpBinding" bindingConfiguration="StudyGuideWrapperWebServiceHttpBinding" contract="EngineStudyGuide.StudyGuideWrapperWebServicePortType" name="StudyGuideWrapperWebServiceHttpPort"/>
      <endpoint address="http://192.168.0.188:8080/acepherics/service/SubmissionWebService" binding="basicHttpBinding" bindingConfiguration="SubmissionWebServiceHttpBinding" contract="EngineSubmissionTest.SubmissionWebServicePortType" name="SubmissionWebServiceHttpPort"/>
      <endpoint address="http://192.168.0.188:8080/acepherics/service/ClientSystemWebService" binding="basicHttpBinding" bindingConfiguration="ClientSystemWebServiceHttpBinding" contract="EngineClient.ClientSystemWebServicePortType" name="ClientSystemWebServiceHttpPort"/>
    </client>
  </system.serviceModel>
  <!--<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>-->
</configuration>