body
{
    overflow-x: hidden;
    overflow-y: hidden;
}
#userName, #Username
{
    ime-mode: disabled;
}
.title_01
{
    cursor: pointer;
    font-style: normal;
    margin-left: 20px;
    font-size: 15px;
    height: 24px;
    line-height: 24px;
}
.title_02
{
    color: #8c8a8a;
    font-style: normal;
    margin-left: 20px;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
}
.img1
{
    cursor: pointer;
    height: 60px;
    width: 50px;
}
.left1
{
    margin-left: 120px;
    float: left;
}
.right1
{
    margin-top: 10px;
}
#Security
{
    margin-top: 5%;
}
.point
{
    cursor: pointer;
}
.next:link, .next:visited
{
    background: url("../../Images/login_buth.png") no-repeat scroll 0 0 transparent;
    color: #444444;
    display: block;
    font-size:13px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    width: 73px;
    text-decoration:none;
    float:left;
}
.next:hover,.next:active
{
    background: url("../../Images/login_buthhh.png") no-repeat scroll 0 0 transparent;
    color: #444444;
    display: block;
    height: 31px;
    line-height: 31px;
    text-align: center;
    text-decoration:underline;
    width: 73px;
    float:left;
}
