body
{
    margin: 0px;
    font-family: "宋体";
}

#dvCmsMain
{
    padding: 10px;
    overflow-x: hidden;
}

.cms_toolbar
{
    border: 1px solid #abceff;
    /*background: url(../Images/wunderbar_rest_2.gif) repeat-x;*/
    background-color: #d8e8ff;
    width: 100%;
    height: 27px;
    margin-top:5px;
}

.cms_toolbar ul
{
    float: left;
    list-style-type: none;
    margin: 0px;
    padding: 3px 0px 0px 0px;
}

.cms_toolbar ul li
{
    float: left;
    margin-left: 8px;
}

.cms_toolbar ul li.delimiter
{
    background: url(../Images/delimiter.gif) no-repeat;
    width:2px;
    height:20px;
}

.btnsel00
{
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 1px;
    overflow: hidden;
    padding-top: 1px;
}

.btnsel00_border
{
    border-right: #b4d1ee 1px solid;
    padding-right: 1px;
    border-top: #b4d1ee 1px solid;
    padding-left: 1px;
    padding-bottom: 0px;
    overflow: hidden;
    border-left: #b4d1ee 1px solid;
    padding-top: 0px;
    border-bottom: #b4d1ee 1px solid;
    cursor: pointer;
}

.cms_contentbox
{
    float: left;
    width: 100%;
    border-left: 1px solid #abceff;
    border-right: 1px solid #abceff;
    border-bottom: 1px solid #abceff;
}

.cms_datatable
{
    width: 100%;
    border-collapse: collapse;
    border-width: 0px;
}

.cms_datatable th
{
    border-width: 0px;
    background-color: #e3f6ff;
    height: 25px;
    padding: 0px 5px;
    text-align: left;
    font-size: 11pt;
}

.cms_datatable td
{
    border-width: 0px;
    height: 28px;
    padding: 0px 5px;
    font-size: 11pt;
}

.cms_datatable tr.lightblue
{
    background-color: #f3f8fe;
}

.cms_datatable tr.hover
{
    background-color: #f4f4f4;
}

.cms_datatable tr.nodata
{
    color: #7d7d7d;
    text-align: center;
}

.cms_datatable td.operate img
{
    cursor: pointer;
}

.cms_dialog
{
    float: left;
    padding: 12px 0px;
}
.cms_dialog ul
{
    float: left;
    margin: 0px;
    padding: 0px;
}
.cms_dialog ul li
{
    float: left;
    list-style-type: none;
    padding: 4px;
}
.cms_dialog ul li.fname
{
    width: 140px;
    text-align: right;
}
.cms_dialog ul li.inp
{
    width: 350px;
}

.sel_loading
{
    background: #fff url(../../Images/ajax-loader_m.gif) no-repeat center;
}